.ciclo-titulos {
    position: sticky;
    top: 120px;
    text-align: center;
    margin-bottom: 40px !important;
    background-color: #f1eeee;
    padding: 10px;
    border-radius: 20px;
    z-index: 99;

    @include mq_down($md) {
        top: 0;
        position: relative;
        display: none;
    }

    h3 {
        font-size: 25px;
        font-weight: bold;
        color: $primary;
        margin: 0;
    }
}

.ciclo-item {
    background-color: #fff;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 60px;
    box-shadow: 0 54px 16px -60px;
    min-height: 40px;

    position: relative;

    &:after {
        width: 2px;
        height: 16px;
        right: 37px;
    }

    &__subtitulo {
        font-size: 17px;
        font-weight: 600;
        color: #000;

        @include mq_down($md) {
            padding: 10px 0;
            border-top: 1px solid #ccc;
        }
    }

    .col-md-9 {
        position: relative;
    }

    &.active {
        cursor: auto;
        .col-md-9 {
            display: block;
        }

        &:before,
        &:after {
            display: none;
        }
    }

    > .col-md-9 {
        overflow: hidden;
        padding: 10px 0;

        @include mq_down($md) {
            padding: 20px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    p {
        margin: 0;
    }

    &:nth-child(1) {
        &:before,
        &:after {
            background-color: #0aa660;
        }

        .ciclo-item__titulo {
            background-color: #0aa660;

            &::before {
                border-color: transparent transparent #047542 transparent;
            }

            &::after {
                border-color: transparent transparent transparent #047542;
            }
        }
    }

    &:nth-child(2) {
        &:before,
        &:after {
            background-color: #128551;
        }

        .ciclo-item__titulo {
            background-color: #128551;

            &::before {
                border-color: transparent transparent #034e2c transparent;
            }

            &::after {
                border-color: transparent transparent transparent #034e2c;
            }
        }
    }

    &:nth-child(3) {
        &:before,
        &:after {
            background-color: #196844;
        }

        .ciclo-item__titulo {
            background-color: #196844;

            &::before {
                border-color: transparent transparent #093e26 transparent;
            }

            &::after {
                border-color: transparent transparent transparent #093e26;
            }
        }
    }

    &:nth-child(4) {
        &:before,
        &:after {
            background-color: #224636;
        }

        .ciclo-item__titulo {
            background-color: #224636;

            &::before {
                border-color: transparent transparent #112e21 transparent;
            }

            &::after {
                border-color: transparent transparent transparent #112e21;
            }
        }
    }

    &:nth-child(5) {
        &:before,
        &:after {
            background-color: #183025;
        }

        .ciclo-item__titulo {
            background-color: #183025;

            &::before {
                border-color: transparent transparent #01110a transparent;
            }

            &::after {
                border-color: transparent transparent transparent #01110a;
            }
        }
    }

    &__titulo {
        background-color: $primary;
        display: flex;
        height: calc(100% + 15px);
        text-align: center;
        border-radius: 0 0 20px 20px;
        top: -15px;
        position: relative;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        justify-content: center;

        &::before,
        &::after {
            content: '';
            width: 0px;
            height: 0px;
            border-style: solid;
            transform: rotate(0deg);
            position: absolute;
            top: 0;
        }

        &::before {
            border-width: 0 0 15px 15px;
            border-color: transparent transparent #224636 transparent;
            left: -15px;
        }

        &::after {
            border-width: 15px 0 0 15px;
            border-color: transparent transparent transparent #224636;
            right: -15px;
        }

        h4 {
            font-size: 20px;
            color: $blanco;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

.section-ciclos {
    > .container {
        margin: 0 auto;

        @include mq_up($xl) {
            max-width: 70%;
        }
    }
}

span.continua-proceso {
    display: block;
    color: $primary;
    font-weight: bold;
    cursor: pointer;
}

.traslado {
    background-color: #e0ffe8;
    border-radius: 8px 0 0 8px;
}

.tabla-ciclos {
    margin-bottom: 0;
    background-color: transparent;
    background: transparent;

    @include mq_down($md) {
        margin-left: 10px;
    }

    thead {
        display: none;

        @include mq_down($md) {
            display: table-row-group;
        }
    }

    tr {
        td,
        th {
            background-color: transparent !important;
            border-bottom: 0;
        }
        td:first-child {
            width: 65%;
        }

        td {
            border-left: 1px solid $primary;

            @include mq_down($md) {
                border-left: 0;
            }
        }
    }
}

.linea-fees {
    svg {
        width: 23%;
    }
}

.sec-principios {
    .row > div {
        margin-bottom: 25px;
    }
}

.linea-translado {
    position: absolute;
    width: 30px;
    height: 36%;
    right: -26px;
    top: 19%;
    z-index: 9;
    border: 1px dashed #0f7c4b;
    border-left: 0;

    @include mq_down($md) {
        width: 20px;
        right: 10px;
        height: 33%;
    }

    svg {
        position: absolute;
        bottom: -4px;
        right: 30px;
    }
}

.estados-titulo-movil {
    position: absolute;
    left: -34%;
    transform: rotate(-90deg);
    display: inline-block;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #000;
    top: 24px;
    font-size: 13px;
    letter-spacing: 29px;

    @include mq_down($sm) {
        left: -34%;
    }

    @include mq_up($md) {
        display: none;
    }
}

.titulo-etapa-movil {
    @include mq_up($md) {
        display: none;
    }
}
