.documentos-tabs {
    background-color: $blanco;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;

    @include mq_down($md) {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            );
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 5px;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23219C48' d='m20.08 11.42l-4.04-5.65c-.34-.48-.89-.77-1.48-.77c-1.49 0-2.35 1.68-1.49 2.89L16 12l-2.93 4.11c-.87 1.21 0 2.89 1.49 2.89c.59 0 1.15-.29 1.49-.77l4.04-5.65c.24-.35.24-.81-.01-1.16'/%3E%3Cpath fill='%23219C48' d='M13.08 11.42L9.05 5.77C8.7 5.29 8.15 5 7.56 5C6.07 5 5.2 6.68 6.07 7.89L9 12l-2.93 4.11C5.2 17.32 6.07 19 7.56 19c.59 0 1.15-.29 1.49-.77l4.04-5.65c.24-.35.24-.81-.01-1.16'/%3E%3C/svg%3E");
            pointer-events: none;
        }
    }

    &__menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        border: 1px solid #3e7a5f;
        overflow: hidden;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;

        @include mq_down($md) {
            overflow-x: scroll;
        }

        li {
            padding: 20px;
            text-align: center;
            width: 100%;
            transition: all 0.6s ease;
            cursor: pointer;

            @include mq_down($md) {
                padding: 20px 30px;
            }

            &:hover {
                background-color: #3e7a5f;

                h3 {
                    color: $blanco;
                }
            }

            &.active {
                background-color: $primary;

                h3 {
                    color: $blanco;
                }
            }

            h3 {
                margin: 0;
                color: $primary;
            }
        }
    }

    table {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        display: none;

        &.active {
            display: table;
        }

        th {
            background-color: #e5fbea;
            color: $primary;
            font-weight: 600;
            font-size: 20px;
        }

        thead {
            vertical-align: middle;
        }

        img {
            width: 30px;
        }
    }
}

.card-document {
    display: flex;

    &__wrapper {
        padding: 22px;
        display: flex;
        flex-flow: wrap;
        border: 2px solid #219c48;
        border-radius: 16px;
        background-color: $blanco;
        min-height: 234px;

        @include mq_down($md) {
            margin-bottom: 20px;
        }
    }

    a {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;

        &:hover {
            > img {
                transform: scale(1.05);
            }

            .fileImage {
                background-image: url('data:image/svg+xml,<svg width="54" height="67" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.16 63.882V15.03L13.781 2.366h37.29v61.516H1.16Z" fill="%233E7A5F"/><path d="M15.855 0a5.756 5.756 0 0 0-4.11 1.728L1.695 11.971A5.98 5.98 0 0 0 0 16.16v46.539c0 1.96 1.559 3.549 3.482 3.549h46.429c1.923 0 3.482-1.589 3.482-3.55V3.55c0-1.961-1.559-3.55-3.483-3.55H15.855Zm.395 2.366h33.66c.641 0 1.161.53 1.161 1.183v59.15c0 .653-.52 1.183-1.16 1.183H3.482c-.64 0-1.16-.53-1.16-1.183V16.562h10.446c1.923 0 3.482-1.589 3.482-3.55V2.367Zm-2.321.591v10.056c0 .653-.52 1.183-1.161 1.183H2.902c.129-.196.277-.38.442-.545l10.05-10.243c.162-.168.342-.32.535-.45Zm-8.125 51.46c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Z" fill="%23D2EED9"/></svg>');
            }
        }

        .fileImage {
            width: 50px;
            height: 60px;
            background-image: url('data:image/svg+xml,<svg width="54" height="67" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.16 63.882V15.03L13.781 2.366h37.29v61.516H1.16Z" fill="%23fff"/><path d="M15.855 0a5.756 5.756 0 0 0-4.11 1.728L1.695 11.971A5.98 5.98 0 0 0 0 16.16v46.539c0 1.96 1.559 3.549 3.482 3.549h46.429c1.923 0 3.482-1.589 3.482-3.55V3.55C53.393 1.589 51.834 0 49.91 0H15.855Zm.395 2.366h33.66c.641 0 1.161.53 1.161 1.183v59.15c0 .653-.52 1.183-1.16 1.183H3.482c-.64 0-1.16-.53-1.16-1.183V16.562h10.446c1.923 0 3.482-1.589 3.482-3.55V2.367Zm-2.321.591v10.056c0 .653-.52 1.183-1.161 1.183H2.902c.129-.196.277-.38.442-.545l10.05-10.243c.162-.168.342-.32.535-.45Zm-8.125 51.46c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.803 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.64 0-1.16.53-1.16 1.184v2.366c0 .653.52 1.183 1.16 1.183.64 0 1.16-.53 1.16-1.183V55.6c0-.653-.52-1.183-1.16-1.183Zm5.804 0c-.641 0-1.161.53-1.161 1.184v2.366c0 .653.52 1.183 1.16 1.183.641 0 1.161-.53 1.161-1.183V55.6c0-.653-.52-1.183-1.16-1.183Z" fill="%233E7A5F"/></svg>');
            background-repeat: no-repeat;
            background-size: 50px 60px;
            background-position: center;
        }

        > img {
            width: 70px;
            transition: all 0.3s ease;
        }

        span {
            color: #219c48;
            display: flex;
            align-items: center;

            img {
                width: 20px;
            }
        }
    }

    h3 {
        width: 100%;
        font-size: 16px;
        color: #666666;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.comunicado-card {
    background-color: rgba($color: #d3e3d6, $alpha: 0.6);
    padding: 20px;
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: wrap;

    @include mq_down($md) {
        flex-direction: column;
    }

    h2 {
        color: #219c48;
        opacity: 0.7;
        margin: 0;
    }

    &__info {
        width: 60%;
        display: flex;
        gap: 20px;
        align-items: center;

        @include mq_down($md) {
            width: 100%;
        }

        span {
            color: #949494;
        }

        h3 {
            margin: 0;
            font-size: 16px;
            color: #3e7a5f;
        }
    }

    &__enlaces {
        width: 40%;
        border-left: 3px solid $blanco;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @include mq_down($md) {
            width: 100%;
            border-left: 0;
            border-top: 3px solid $blanco;
            margin-top: 10px;
            padding-top: 10px;
            justify-content: flex-start;
        }

        a {
            text-decoration: none;
            color: #219c48;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 16px;

            img {
                width: 30px;
            }
        }
    }

    .comunicado-tipo {
        position: absolute;
        top: -15px;
        left: 30px;
        background-color: #219c48;
        color: $blanco;
        border-radius: 30px;
        padding: 4px 20px;
        font-size: 14px;
    }
}

.card-document-carousel {
    @include mq_down($md) {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    &.owl-carousel {
        display: block;
    }

    img {
        width: 20px !important;
    }

    .owl-stage-outer {
        padding: 0 !important;
    }
}

.circulo-documentos-1 {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
}

.circulo-documentos-2 {
    position: absolute;
    top: 70%;
    left: -100px;
    z-index: -1;
}

.circulo-documentos-3 {
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: -1;
}
