.carouselHero {
    .carousel-caption {
        top: 40%;
        left: 0 !important;
        right: 0 !important;
        justify-content: center !important;

        @include mq_down($tablet) {
            top: 18%;
        }
    }

    .carousel-item {
        > img {
            @include mq_down($tablet) {
                height: 500px;
                object-fit: cover;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000007d;

            @include mq_up($tablet) {
                display: none;
            }
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #fff;
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
        border-radius: 100%;
        width: 45px;
        height: 45px;
        background-size: 50%;
    }

    .slider-novedades {
        &__title {
            font-size: 2.5rem;
            color: $verde-oscuro;
            text-align: center;
            font-weight: bold;
            font-size: 50px;

            @include mq_down($md) {
                font-size: 30px;
            }

            @include mq_down($tablet) {
                color: $blanco;
            }

            strong {
                color: $negro;
                display: block;
                text-transform: uppercase;
                font-size: 90px;

                @include mq_down($md) {
                    font-size: 50px;
                }

                @include mq_down($tablet) {
                    color: $blanco;
                }
            }
        }

        &__img {
            position: absolute;
            top: -80px;
            left: 0;

            @include mq_down($md) {
                width: 15%;
                position: inherit;
            }
        }

        &__text {
            text-align: center;
            font-size: 23px;
            color: $verde-oscuro;

            @include mq_down($tablet) {
                color: $blanco;
            }

            @include mq_down($md) {
                font-size: 16px;
                padding: 0 20px;
            }
        }
    }
}

.bg-gray {
    background-color: $fondo-gris;
}

.confi-carousel,
.aliados-carousel {
    display: block !important;
    text-align: center;

    .owl-item {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-height: 100px;
        object-fit: contain;
        width: 150px !important;
    }

    .owl-stage {
        display: flex;
        align-items: center;
    }
}

.nuestros-proyectos {
    background-image: url(../images/nuestros_proyectos.webp);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="662" height="12" viewBox="0 0 662 12" fill="none"><path d="M652 7L662 11.7735V0.226497L652 5V7ZM653 5L0 5V7L653 7V5Z" fill="%235AB978"/></svg>');
        width: 450px;
        height: 12px;
        background-position: right;
        z-index: 0;

        @include mq_down($md) {
            top: 10%;
            width: 80%;
        }
    }

    h2 {
        margin-bottom: 40px;
    }

    &:before {
        content: '';
        background: rgb(3, 3, 3);
        background: -moz-linear-gradient(
            90deg,
            rgba(3, 3, 3, 0.700717787114846) 14%,
            rgba(8, 41, 4, 0.6) 32%,
            rgba(13, 79, 4, 0.05) 94%
        );
        background: -webkit-linear-gradient(
            90deg,
            rgba(3, 3, 3, 0.700717787114846) 14%,
            rgba(8, 41, 4, 0.6) 32%,
            rgba(13, 79, 4, 0.05) 94%
        );
        background: linear-gradient(
            90deg,
            rgba(3, 3, 3, 0.700717787114846) 14%,
            rgba(8, 41, 4, 0.6) 32%,
            rgba(13, 79, 4, 0.05) 94%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030303",endColorstr="#0d4f04",GradientType=1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__item {
        padding: 30px;
        text-align: center;
        border-radius: 20px;
        color: $blanco;
        background-color: rgba($verde-oscuro, $alpha: 0.7);
        width: 300px;
        margin-bottom: 20px;

        @include mq_down($tablet) {
            width: 100%;
        }

        h3 {
            font-size: 60px;
            font-weight: bold;
            text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
            color: $blanco;
        }

        p {
            font-size: 25px;
            font-weight: bold;
            color: $blanco;
            text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        }

        &.item1 {
            background-color: rgba($color: #0d4f04, $alpha: 0.7);
        }

        &.item3 {
            background-color: rgba($color: #5ab978, $alpha: 0.7);
            margin-top: 50px;
        }

        &.item2 {
            margin-top: 50px;
            margin-left: 50px;

            @include mq_down($tablet) {
                margin-left: 0;
            }
        }
    }
}

.btn-claro {
    background-color: $verde-claro;
    color: $blanco;
    border-color: $verde-claro;
}

.white-text {
    color: $blanco;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $blanco;

        .text-border {
            -webkit-text-stroke-color: $blanco;
        }
    }
}
.nuestros-proyectos-items {
    display: flex;

    @include mq_down($xl) {
        flex-direction: column;
        margin-top: 50px;
    }
}

.miembros-img {
    background-color: $blanco;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mq_down($md) {
        min-height: 150px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        border: 2px solid #5ab978;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    img {
        max-width: 100%;

        @include mq_down($md) {
            max-width: 80%;
        }
    }
}

.aliados-carousel {
    display: block !important;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    pointer-events: none;

    button {
        pointer-events: all;
    }
}

.ultimas-noticias {
    padding-top: 60px;
    padding-bottom: 140px;
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
        content: '';
        background-image: url(../images/circle.svg);
        width: 250px;
        height: 250px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }

    &:before {
        right: 150px;
    }

    &:after {
        left: -100px;
        bottom: -100px;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h2 {
        color: $primary;

        strong {
            -webkit-text-stroke-color: $primary;
        }
    }

    &__item {
        padding: 20px;
        border-radius: 20px;
        background-color: $blanco;
        transition: all 0.6s ease;

        @include mq_down($md) {
            margin-bottom: 20px;
        }

        &:hover {
            box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.16);
        }

        img {
            width: 100%;
            max-height: 170px;
            border-radius: 15px;
            margin-bottom: 15px;
        }

        span {
            display: block;
            color: #666666;
            font-size: 16px;
        }

        h3 {
            font-size: 25px;
            color: $primary;
        }

        a {
            font-size: 20px;
            font-weight: bold;
            color: #666666;
            transition: all 0.6s ease;

            &:hover {
                color: $primary;
            }
        }
    }
}

.linea-izquierda {
    margin-bottom: 30px;

    @include mq_down($md) {
        display: none;
    }
}

.somos-miembros {
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        background-image: url(../images/circle.svg);
        width: 250px;
        height: 250px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -100px;
        left: -100px;
    }
}

.quienes-confian {
    overflow: hidden;
    position: relative;
    padding: 70px 0;

    .container {
        position: relative;
        z-index: 1;
    }

    &:before {
        content: '';
        background-image: url(../images/circle.svg);
        width: 350px;
        height: 250px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -100px;
        right: -100px;
    }
}

.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #befcd1;
}

.owl-next,
.owl-prev {
    font-size: 60px !important;
    color: #815350 !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: transparent !important;
    padding: 5px;
}

.owl-dots {
    margin-top: 20px;

    button {
        span {
            background: #5ab978 !important;
            opacity: 0.5;
        }

        &.active {
            span {
                opacity: 1;
            }
        }
    }
}
