.white-box-green-border {
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        border: 2px solid #5ab978;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    img {
        margin-top: -80px;
        position: relative;
        margin-bottom: 20px;
    }
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;

    &-color {
        &-red {
            p strong {
                color: #de4768;
            }

            &.timeline-middle {
                background-color: #de4768;
                &:before {
                    border-color: #aa3073;
                }

                &__2024-extra:after {
                    background-color: #de4768;
                }
            }
        }

        &-orange {
            p strong {
                color: #f77703;
            }

            &.timeline-middle {
                background-color: #f9ad01;
                &:before {
                    border-color: #f77703;
                }
            }
        }

        &-green {
            p strong {
                color: #618c15;
            }

            &.timeline-middle {
                background-color: #9fc914;
                &:before {
                    border-color: #618c15;
                }

                &__2019-extra:after {
                    background-color: #9fc914;
                }

                &__2019-extra-2:after {
                    background-color: #9fc914;
                }
            }
        }

        &-blue-light {
            p strong {
                color: #189b9b;
            }

            &.timeline-middle {
                background-color: #1ed3b0;
                &:before {
                    border-color: #189b9b;
                }
            }
        }

        &-blue {
            p strong {
                color: #4aadff;
            }

            &.timeline-middle {
                background-color: #4aadff;
                &:before {
                    border-color: #297acc;
                }
            }
        }

        &-green-dark {
            p strong {
                color: #09a334;
            }

            &.timeline-middle {
                background-color: #09a334;
                &:before {
                    border-color: #1ed351;
                }
            }
        }

        &-purple {
            p strong {
                color: #6c33c4;
            }

            &.timeline-middle {
                background-color: #8936ff;
                &:before {
                    border-color: #6c33c4;
                }
            }
        }
    }

    &-img {
        position: relative;

        img {
            margin-top: -20px;
        }
    }

    &-content {
        padding: 0 20px;
        padding-bottom: 20px;

        &__2019-extra {
            margin-top: -30px;
        }

        p {
            strong {
                display: block;
                font-size: 23px;
            }
        }
    }

    &-middle {
        width: 10px;
        height: 100%;
        background-color: $primary;
        position: relative;

        &__2019-extra {
            position: relative;

            &:before {
                display: none;
            }
        }

        &__2019-extra-2 {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 9px;
                top: 44px;
                width: 10px;
                height: 2px;
            }
        }

        &__2024-extra {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: -9px;
                top: 44px;
                width: 10px;
                height: 2px;
            }
        }

        &__2019-extra {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: -9px;
                top: -18px;
                width: 10px;
                height: 2px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: -5px;
            top: 10px;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border: 2px solid red;
            z-index: 2;
        }
    }
}

.politicas {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 30px;

    li {
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: #666666;
            font-size: 25px;

            img {
                margin-right: 10px;
            }
        }
    }
}

.extra-p-2024 {
    padding: 0 20px;
    margin-top: 20px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 10px;
        width: 10px;
        height: 2px;
        background-color: #de4768;
    }
}

.justificado {
    text-align: justify;
}

.hitos-img {
    position: sticky;
    top: 120px;
}

.subtitulo-verde {
    color: $primary;
}

.subtitulo-borde {
    text-shadow: rgb(62, 122, 95) 1px 0px 0px,
        rgb(62, 122, 95) 0.540302px 0.841471px 0px,
        rgb(62, 122, 95) -0.416147px 0.909297px 0px,
        rgb(62, 122, 95) -0.989992px 0.14112px 0px,
        rgb(62, 122, 95) -0.653644px -0.756802px 0px,
        rgb(62, 122, 95) 0.283662px -0.958924px 0px,
        rgb(62, 122, 95) 0.96017px -0.279415px 0px;

    color: $fondo-gris;
}

.circulo-objetivo-1 {
    position: absolute;
    left: 0;
    top: 30%;

    @include mq_down($md) {
        display: none;
    }
}

.objetivos-programa {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.circulo-objetivo-2 {
    position: absolute;
    right: 0;
    top: 30%;
    z-index: -1;

    @include mq_down($md) {
        display: none;
    }
}

.certificados-carousel {
    &.owl-carousel {
        display: block;
    }

    img {
        width: auto !important;
        margin: 0 auto;
    }
}
