.site-footer {
    background: rgb(62, 122, 95);
    background: -moz-linear-gradient(
        90deg,
        rgba(62, 122, 95, 1) 15%,
        rgba(62, 122, 95, 1) 51%,
        rgba(15, 124, 75, 1) 83%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(62, 122, 95, 1) 15%,
        rgba(62, 122, 95, 1) 51%,
        rgba(15, 124, 75, 1) 83%
    );
    background: linear-gradient(
        90deg,
        rgba(62, 122, 95, 1) 15%,
        rgba(62, 122, 95, 1) 51%,
        rgba(15, 124, 75, 1) 83%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e7a5f",endColorstr="#0f7c4b",GradientType=1);
    padding-top: 26px;

    .marca {
        font-size: 13px;
        margin-top: 10px;
    }

    a {
        color: $blanco;
        text-decoration: none;
    }

    h3 {
        margin-bottom: 10px;

        @include mq_down($md) {
            margin-top: 20px;
        }
    }

    .copy {
        color: #815350;
        padding: 13px;
        background-color: #fff;

        @include mq_down($md) {
            margin-top: 20px;
        }

        p {
            margin: 0;
        }

        a {
            color: #815350;
        }
    }

    .contacto-lista {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    .mail {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23fff'%3E%3Cpath d='M22 7.535V17a3 3 0 0 1-2.824 2.995L19 20H5a3 3 0 0 1-2.995-2.824L2 17V7.535l9.445 6.297l.116.066a1 1 0 0 0 .878 0l.116-.066z'/%3E%3Cpath d='M19 4c1.08 0 2.027.57 2.555 1.427L12 11.797l-9.555-6.37a3 3 0 0 1 2.354-1.42L5 4z'/%3E%3C/g%3E%3C/svg%3E");
        }
    }

    .phone {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m16.556 12.906l-.455.453s-1.083 1.076-4.038-1.862s-1.872-4.014-1.872-4.014l.286-.286c.707-.702.774-1.83.157-2.654L9.374 2.86C8.61 1.84 7.135 1.705 6.26 2.575l-1.57 1.56c-.433.432-.723.99-.688 1.61c.09 1.587.808 5 4.812 8.982c4.247 4.222 8.232 4.39 9.861 4.238c.516-.048.964-.31 1.325-.67l1.42-1.412c.96-.953.69-2.588-.538-3.255l-1.91-1.039c-.806-.437-1.787-.309-2.417.317'/%3E%3C/svg%3E");
        }
    }

    .address {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M11.291 21.706L12 21zM12 21l.708.706a1 1 0 0 1-1.417 0l-.006-.007l-.017-.017l-.062-.063a47.708 47.708 0 0 1-1.04-1.106a49.562 49.562 0 0 1-2.456-2.908c-.892-1.15-1.804-2.45-2.497-3.734C4.535 12.612 4 11.248 4 10c0-4.539 3.592-8 8-8c4.408 0 8 3.461 8 8c0 1.248-.535 2.612-1.213 3.87c-.693 1.286-1.604 2.585-2.497 3.735a49.583 49.583 0 0 1-3.496 4.014l-.062.063l-.017.017l-.006.006zm0-8a3 3 0 1 0 0-6a3 3 0 0 0 0 6' clip-rule='evenodd'/%3E%3C/svg%3E");
        }
    }

    .siguenos-lista {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
}

.whatsapp-desktop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;

    @include mq_down($xl) {
        display: none;
    }

    img {
        width: 70px;
    }
}
