.hero-interna {
    margin-top: 156px;
    overflow: hidden;
    margin-bottom: 30px;

    @include mq_down($xl) {
        margin-top: 0;
    }

    @include mq_down($md) {
        padding-top: 20px;
    }

    h1 {
        font-weight: bold;
        color: $primary;
        font-size: 60px;
        line-height: 110%;
        position: relative;

        @include mq_down($tablet) {
            font-size: 45px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -62%;
            width: 1px;
            height: 87px;
            background-color: $verde-claro;
        }

        &:after {
            content: '';
            position: absolute;
            left: -40%;
            bottom: -20px;
            height: 1px;
            width: 180px;
            background-color: $verde-claro;
        }

        strong {
            text-shadow: rgb(62, 122, 95) 1px 0px 0px,
                rgb(62, 122, 95) 0.540302px 0.841471px 0px,
                rgb(62, 122, 95) -0.416147px 0.909297px 0px,
                rgb(62, 122, 95) -0.989992px 0.14112px 0px,
                rgb(62, 122, 95) -0.653644px -0.756802px 0px,
                rgb(62, 122, 95) 0.283662px -0.958924px 0px,
                rgb(62, 122, 95) 0.96017px -0.279415px 0px;
            display: block;
            color: $fondo-gris;
        }
    }
}
